@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Molengo&display=swap');
* {
    margin: 0;
    padding: 0;
}
.warna{
    background-color: #03a9f4;
}

/* navabar */
nav.navbar {
    background-color: #03a9f4;
    font-family: 'Audiowide',
    cursive;
}

div.row div.col-md-4 select {
    width: 100%;
    text-align-last: center;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    background-color: #03a9f4;
    color: white;
}

div.row div.col-md-4 span.mt-2 {
    display: block;
    text-align: center;
    margin-left: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    ;
    border: 1px solid rgb(247, 231, 231);
    
}

div.row div.col-md-4 div.keranjang {
    display: block;
    text-align: center;
    height: 300px;
    border: 1px;
    overflow-y: scroll;
    display: block;
    overflow-x: none;
    background-color: #b3e5fc;
    font-family: 'Molengo',sans-serif
}
div.keranjang {
    overflow-x: hidden;
}

div.keranjang div.row div.card {
    width: 90%;
    margin: 4px auto;

}

div.cart-text {
    font-size: 10px;
    color: #03a9f4;
    font-weight: bold;
}

div.cart-count {
    font-size: 8px;
    font-weight: bold;
}

div.harga {
    margin: 0;
    padding-left: 50px;
}

div.row div.col-3 img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

input.jumlah {
    width: 50%;
}

div.input-group {
    height: 25px;
    text-align: center;
}

div.input-group button {
    height: 25px;
    width: 20%;
    text-align: center;
}

div.input-group .form-control {
    height: 25px;
    width: 100px !important;
    text-align: center;
}

div.input-group button i {
    margin-left: -5px;
}

/* start item */
div.stock{
    background-color: #03a9f4;
    color: white;
}
div.search{
    height: 100%;
    background-color: transparent;
}
div.row div.tanggal{
    border-radius: 5px;
    background-color: #03a9f4;
    color: white;
    font-family: monospace;
    font-size: 15px;
}
div.header{
    padding: 0;
    margin: 0;
}
div.brang{
    background-color: #b3e5fc;
    width: 100%;
    height: 500px;
    border: 2px black;
    overflow-y: scroll;
}
div.brang div.card{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
div.brang div.card img{
        margin: 8px 11px 4px 11px;
        width: auto;
        height: 150px !important;
        object-fit: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.brang div.card p:first-of-type {
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-top: -13px;
}
div.card p.text-harga{
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-top: -2px;
    color: #03a9f4;
    font-weight: bold;
    font-family: Roboto,
    sans-serif;
}
/* div.brang div.card p:last-of-type {
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-top: -2px;
    color: #03a9f4;
    font-weight: bold;
    font-family: Roboto, sans-serif;
} */

div.brang div.card:hover {
    border: rgb(247, 231, 231);
}

/* end card */


/* iklan */
div.marque{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #03a9f4;
    color: white;
}
div.marque-text{
    display: inline-block;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* admin */
div.admin_container {
    width: 100%;
    height: 500px;
    background-color: #b3e5fc;
}
table{
    margin: 0;
    padding: 0;
}
table.table thead{
    background-color: #03a9f4;
    color: white;
    font-family: 'Audiowide',
    cursive;
}
table img{
    height: 60px;
}
.warnaBorder{
    text-decoration: none;
    border-radius: 5px;
    background-color: #03a9f4;
    color: white;
    font-family: monospace;
    font-size: 15px;
    font-family: 'Audiowide',
    cursive;
}
.warnaBorder2{
    text-decoration: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    font-family: monospace;
    font-size: 15px;
    font-family: 'Audiowide',
    cursive;
}
